@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

main section {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 70px;;
}
.title{
    color: rgb(255, 51, 0);
    background-color: rgb(173, 167, 175);
    font-size: 100px;
}
main p{
    color: yellow;
    background-color: black;
    font-size: 50px;
}
.top10{
    color: gold;
    background-color: black;
    font-size: 60px;
}
ul{
    color: rgb(255, 68, 0);
    font-size: 30px;
}
main{
    background-color: darkgray;
}