@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

main section {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}
.title{
    color: rgb(255, 51, 0);
    /* background-color: rgb(173, 167, 175); */
    font-size: 60px;
    background-color: gray;
    text-align: center;
    

}

main p{
    color: yellow;
    background-color: black;
    font-size: 50px;
    margin-top: 70px;


    
}
.top10{
    color: gold;
    background-color: black;
    font-size: 60px;
}
ul{
    color: rgb(255, 68, 0);
    font-size: 30px;
}
main{
    background-color: darkgray;
}
ol{
    color: rgb(255, 68, 0);
    font-size: 30px;  
}
.edde{
    color: gold;
    background-color: black;
    font-size: 60px;
}
.title{
    position: fixed;
    top: 0px;
    left: 600px;
    }